/* Carousel */


.carrousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .carrousel {
    overflow: hidden;
    width: 100%;
    max-width: 1600px;
  }
  
  .carrousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  

  .titre-postList {
    width: 1600px;
    margin: auto !important;
    margin-bottom: 30px !important;
  }
  
  .arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    transition: 0.5s;
  }

  .arrow-left {
    margin-right: 10px;
    background-image: url(../images/carousel-arrow-left.png);
  }
  
  .arrow-right {
    margin-left: 10px;
    background-image: url(../images/carousel-arrow-right.png);
  }
  .arrow:hover {
    opacity: 0.65;
  }

  .article {
    flex: 0 0 33%;
    box-sizing: border-box;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-right: 20px;
    position: relative;
    height: 350px;
    display: flex;
  }

  .cover-img {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
  }

.article-content-box {
    background:rgba(0,0,0,0.85);
    color: white;
    position: relative;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    width: 0%;
    transition: 0.5s !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-content-box * {
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 20px;
}
.cover-img:hover .article-content-box {
    width: 100%;
  }

.link-post {
    display: block;
    margin-bottom: 20px !important;
    background-color: var(--purple);
    width: 150px;
    padding : 5px 20px;
    font-family: var(--poppins);
    font-weight: bold;
    letter-spacing: 0.02em;
    color: white !important; 
    margin-top: 10px;
}
  
.visit-site {
    display: block;
    width : 40px;
    height: 40px;
    background-color: var(--purple);
    transition: 0.5s;
    border-radius: 3rem;
    background-image: url("../images/plane-icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.visit-site:hover {
    opacity: 0.75;
}

.disclaimer {
  max-width: 1600px !important;
  width: 100%;
  margin: auto !important;
  font-family: var(--poppins);
  color: var(--purple);
  font-weight: 600;
  margin-top: 20px !important;
}

@media all and (max-width: 1200px) {
  .article {
    flex: 0 0 50%;
    box-sizing: border-box;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-right: 20px;
    position: relative;
    height: 350px;
    display: flex;
  }
  @media all and (max-width: 768px) {
    .article {
      flex: 0 0 100% !important;
    }

}
}
