{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Formulaire de contact
{% endblock %}

{% block content %}
	<div class="container error-message">
		<img class="error-img" src="../assets/images/error.png"/>
		<h1>Erreur lors de la soumission du formulaire</h1>
		<ul>
			{% for key, error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
		<a href="{{ path('home') }}">Retour à la page d'accueil</a>
	</div>
=======
{% block title %}Formulaire de contact{% endblock %}

{% block content %}
  <div class="container">
    <h1>Erreur lors de la soumission du formulaire</h1>
    <ul>
      {% for key, error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    <a href="{{ path('home') }}">Retour à la page d'accueil</a>
  </div>
>>>>>>> 47511f0b1717e522b9c821facf56431bf8316335
{% endblock %}
