{% extends 'base.html.twig' %}

{% block content %}
    <p>{{ message }}</p>
    <script>
        setTimeout(function () {
            window.location.href = '{{ goTo }}';
        }, 3000);
    </script>
{% endblock %}
