{% extends 'base.html.twig' %}

{% block content %}
<<<<<<< HEAD
	<div class="container error-message">

		<img class="error-img" src="../assets/images/success-logo.png"/>
		<h1 class="flash-message">{{ message }}</h1>
	</div>
	<script>
		setTimeout(function () {
            window.location.href = '{{ goTo }}';
            }, 
        3000);
	</script>
=======
    <p>{{ message }}</p>
    <script>
        setTimeout(function () {
            window.location.href = '{{ goTo }}';
        }, 3000);
    </script>
>>>>>>> 47511f0b1717e522b9c821facf56431bf8316335
{% endblock %}
